[DEFAULT]

jira_domain = {{ jira_domain }}
board_id = {{ board_id }}
project_key = {{ project_key }}
aws_region = {{ aws_region }}
sender_email = {{ sender_email }}

{% for user in users %}
[{{ user.name }}]
jira_email = {{ user.email }}
jira_api_token = {{ user.token }}
recipient_email = {{ user.recipient }}
{% endfor %}
